In [11]:
# Dependencies
import numpy as np
import pandas as pd
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [12]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)
Base.classes.keys()
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [13]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [29]:
print(session.query(Measurement.date).order_by(Measurement.date).first())
print(session.query(Measurement.date).order_by(Measurement.date.desc()).first())

('2010-01-01',)
('2017-08-23',)

In [38]:
# Import the sqlalchemy extract function.
from sqlalchemy import extract

# 1. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter(extract('month',Measurement.date) == 6).all()

In [39]:
# 2. Convert the June temperatures to a list.
temps = list(results)

In [43]:
# 3. Create a DataFrame from the list of temperatures for the month of June. 
june_temp = pd.DataFrame(temps,columns=["June Temps"])
june_temp.head()

   June Temps
0        78.0
1        76.0
2        78.0
3        76.0
4        77.0

In [44]:
# 4. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temp.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

In [42]:
# 5. Return to your challenge instructions to compare your summary statistics
# Checked

## D2: Determine the Summary Statistics for December

In [45]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter(extract('month',Measurement.date) == 12).all()

In [46]:
# 7. Convert the December temperatures to a list.
temps = list(results)

In [47]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
dec_temp = pd.DataFrame(temps,columns=["December Temps"])
dec_temp.head()

   December Temps
0            76.0
1            74.0
2            74.0
3            64.0
4            64.0

In [48]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
dec_temp.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

In [49]:
# 10. Return to your challenge instructions to compare your summary statistics
# Checked

In [69]:
def return_date (temp1,temp2,month):
    res = session.query(Measurement.tobs , Measurement.date).filter(extract('month',Measurement.date) == month).filter(Measurement.tobs >= temp1).filter(Measurement.tobs <= temp2).all()
    df = pd.DataFrame(res,columns=["Temperature","Dates"])
    df.set_index(df['Dates'],inplace=True)
    df.drop(columns=["Dates"],inplace=True)
    return df

In [78]:
dates_june = return_date(60,65,6)
len(dates_june)

4

In [79]:
dates_june = return_date(70,80,6)
len(dates_june)

1567

In [80]:
dates_dec = return_date(60,65,12)
len(dates_dec)

119

In [81]:
dates_dec = return_date(70,80,12)
len(dates_dec)

1032